@import './scss/fonts';
@import './scss/reset';
@import './scss/header';
@import './scss/home';
@import './scss/latest';
@import './scss/about';
@import './scss/reviews';
@import './scss/footer';
@import './scss/media';


::selection {
  background: #90b9f4; 
  color: #fff; 
}

:root {
scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-body {
  display: flex;
  min-height: 119px;
  align-items: center;
  justify-content: space-between;
}







