@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/DMSans-Regular.woff) format(woff), url(../fonts/DMSans-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/) format(woff), url(../fonts/DMSans-SemiBold.woff2) format(woff2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
  background-color: #191919;
  font-family: "DM Sans";
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.menu__list {
  display: flex;
  gap: 40px;
}
.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: white;
  transition: 0.5s;
}
.menu__link:hover {
  color: #118DA8;
}

.burger {
  display: none;
  position: relative;
  width: 42px;
  height: 25px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.burger__burger-line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 5px;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger--active .burger__burger-line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}
.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
}

.home {
  padding-top: 44px;
}
.home__inner {
  display: flex;
  align-items: center;
}
.home__img {
  position: relative;
}
.home__img::after {
  content: "";
  position: absolute;
  display: block;
  top: -27px;
  left: -25px;
  background: url(../images/lines.svg);
  background-repeat: no-repeat;
  max-width: 68px;
  height: 74px;
  width: 100%;
}
.home__block {
  padding-left: 60px;
}
.home__block-subtitle {
  max-width: 554px;
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
  color: #FFFFFF;
}

.level {
  font-weight: bold;
}

.next {
  position: relative;
}
.next::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  background-image: url(../images/underline.svg);
  background-repeat: no-repeat;
  max-width: 163px;
  height: 11px;
  width: 100%;
}

.home__social {
  padding-top: 74px;
}
.home__social-text {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}
.home__social-items {
  display: flex;
  gap: 17px;
}

.latest {
  padding-top: 100px;
}
.latest__text {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest__text-left {
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #FFFFFF;
}
.latest__button-text {
  cursor: pointer;
  padding: 12px 17px;
  border: 0;
  background: #118DA8;
  border-radius: 6px;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
  transition: 0.5s;
}
.latest__button-text:hover {
  background: #ffffff;
  color: black;
}

.episodes {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.episodes__inner {
  padding: 40px;
  display: flex;
  align-items: center;
  background: #000000;
  border-radius: 32px;
}
.episodes .episodes__main {
  padding-left: 53px;
  color: #FFFFFF;
  font-weight: 400;
}
.episodes .episodes__main-text-two {
  max-width: 136px;
  padding: 5px 16px;
  font-size: 17px;
  line-height: 27px;
  background: #191919;
  border-radius: 6px;
}
.episodes .episodes__main-number {
  padding-top: 48px;
  padding-bottom: 18px;
  font-size: 17px;
  line-height: 27px;
  color: #118DA8;
}
.episodes .episodes__main-subtitle {
  max-width: 701px;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2.56px;
}
.episodes .episodes__main-desc {
  padding-top: 28px;
  padding-bottom: 18px;
  max-width: 757px;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
}
.episodes .episodes__main-text {
  max-width: 73px;
  padding: 5px 16px;
  font-size: 18px;
  line-height: 27px;
  background: #191919;
  border-radius: 6px;
}
.episodes .episodes__main-link {
  cursor: pointer;
  padding: 12px 17px;
  border: 0;
  background: #118DA8;
  border-radius: 6px;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
  transition: 0.5s;
}
.episodes .episodes__main-link:hover {
  background: #ffffff;
  color: black;
}

.about-body {
  font-weight: 400;
}

.about__inner {
  padding-top: 257px;
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__main-circle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #118DA8;
  border: 0;
  border-radius: 50%;
  max-width: 112px;
  height: 112px;
  width: 100%;
  transition: 0.5s;
}
.about__main-circle:hover {
  background: #85c0ce;
}
.about__main-circle::after {
  content: "";
  display: block;
  background: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 108px;
  height: 64px;
  transform: rotate(-90deg);
}
.about__main-subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #118DA8;
}
.about__main-name {
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #FFFFFF;
}
.about__main-text {
  padding-top: 28px;
  padding-bottom: 33px;
}
.about__main-text, .about__main-desc {
  max-width: 556px;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 59px 60px 75px 60px;
  background: #000000;
  border-radius: 32px;
}
.form::after {
  content: "";
  position: absolute;
  display: block;
  background: url(../images/lines-down.svg);
  background-repeat: no-repeat;
  width: 147px;
  height: 91px;
  bottom: -33px;
  left: -31px;
}
.form__desc-text {
  font-size: 18px;
  line-height: 27px;
  color: #118DA8;
}
.form__desc-subtitle {
  max-width: 431px;
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #FFFFFF;
}

.form__fill {
  display: inline-block;
  max-width: 100%;
}
.form__fill input {
  display: block;
  min-width: 522px;
  height: 82px;
  border: 0;
  outline: none;
  border-radius: 6px;
  background: #191919;
  border: 1px solid #191919;
  padding: 0 19px;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.form__fill input::-moz-placeholder {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.form__fill input:-ms-input-placeholder {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.form__fill input::-ms-input-placeholder {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.form__fill input::placeholder {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.form__fill-email {
  margin: 20px 0;
}
.form__fill-button {
  cursor: pointer;
  padding: 10px 17px;
  border: 0;
  background: #118DA8;
  border-radius: 6px;
  font-weight: 700;
  font-size: 15px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.form__fill-button:hover {
  background: #85c0ce;
}

.reviews {
  padding: 200px 0;
}

.reviews__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 400;
}

.reviews__card {
  width: 100%;
  padding: 50px;
  max-width: 423px;
  background: #000000;
  border-radius: 32px;
}
.reviews__card-grade::before {
  content: "";
  display: block;
  background: url(../images/rate.svg);
  background-repeat: no-repeat;
  width: 110px;
  height: 17px;
}
.reviews__card-title {
  padding: 21px 0 19px 0;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  font-weight: 400;
}
.reviews__card-name {
  display: block;
  font-size: 23px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 19px;
}

.footer__inner {
  padding-bottom: 116px;
  display: flex;
}

.footer__icons-item {
  padding-top: 23px;
  display: flex;
  gap: 10px;
}

.footer__header {
  margin-left: 300px;
}

.footer__menu {
  display: flex;
  gap: 125px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__menu__list-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #FFFFFF;
  transition: 0.5s;
}
.footer__menu__list-link:hover {
  color: #118DA8;
}

.footer__social-icons {
  display: flex;
  padding-left: 16px;
  gap: 17px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (max-width: 1200px) {
  .header-nav .menu__link {
    font-size: calc(15px + 2 * ((100vw - 320px)/ 880));
  }

  .home__block {
    padding-left: calc(45px + 15 * ((100vw - 320px)/ 880));
  }
  .home__block-subtitle {
    font-size: calc(10px + 60 * ((100vw - 320px)/ 880));
    line-height: calc(38px + 50 * ((100vw - 320px)/ 880));
  }

  .latest {
    padding-top: calc(20px + 80 * ((100vw - 320px)/ 880));
  }

  .episodes__item {
    gap: calc(30px + 30 * ((100vw - 320px)/ 880));
  }

  .episodes__main {
    padding-left: calc(13px + 40 * ((100vw - 320px)/ 880));
  }
  .episodes__main-text {
    padding-top: calc(3px + 45 * ((100vw - 320px)/ 880));
    padding-bottom: calc(3px + 15 * ((100vw - 320px)/ 880));
  }
  .episodes__main-number {
    font-size: calc(14px + 50 * ((100vw - 320px)/ 880));
    line-height: calc(25px + 45 * ((100vw - 320px)/ 880));
  }
  .episodes__main-subtitle {
    padding-top: 28px;
    padding-bottom: 18px;
    font-size: calc(8px + 14 * ((100vw - 320px)/ 880));
    line-height: calc(13px + 20 * ((100vw - 320px)/ 880));
  }
  .episodes__main-link {
    cursor: pointer;
    padding: 12px 17px;
    border: 0;
    background: #118DA8;
    border-radius: 6px;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    transition: 0.5s;
  }
  .episodes__main-link:hover {
    background: #ffffff;
    color: black;
  }

  .latest__text {
    padding-bottom: calc(10px + 30 * ((100vw - 320px)/ 880));
  }
  .latest__text .latest__button-text {
    font-size: calc(7px + 10 * ((100vw - 320px)/ 880));
  }

  .latest__text-title {
    font-size: calc(19px + 45 * ((100vw - 320px)/ 880));
  }

  .about__inner {
    padding-top: calc(57px + 200 * ((100vw - 320px)/ 880));
    padding-bottom: calc(20px + 180 * ((100vw - 320px)/ 880));
  }

  .about__main-subtitle {
    font-size: calc(16px + 2 * ((100vw - 320px)/ 880));
  }
  .about__main-name {
    font-size: calc(35px + 30 * ((100vw - 320px)/ 880));
    line-height: calc(44px + 35 * ((100vw - 320px)/ 880));
  }
  .about__main-text {
    padding-top: calc(8px + 20 * ((100vw - 320px)/ 880));
    padding-bottom: calc(3px + 30 * ((100vw - 320px)/ 880));
  }
  .about__main-text, .about__main-desc {
    font-size: calc(12px + 10 * ((100vw - 320px)/ 880));
  }

  .form__desc-text {
    font-size: calc(15px + 3 * ((100vw - 320px)/ 880));
  }
  .form__desc-subtitle {
    font-size: calc(12px + 60 * ((100vw - 320px)/ 880));
    line-height: calc(9px + 70 * ((100vw - 320px)/ 880));
  }

  .form__fill input {
    min-width: calc(122px + 400 * ((100vw - 320px)/ 880));
    font-size: 24px;
  }

  .reviews {
    padding: calc(50px + 150 * ((100vw - 320px)/ 880)) 0;
  }

  .reviews__card {
    width: 100%;
    padding: 50px;
    max-width: calc(223px + 200 * ((100vw - 320px)/ 880));
    background: #000000;
    border-radius: 32px;
  }
  .reviews__card-title {
    padding: 21px 0 19px 0;
    font-size: calc(24px + 12 * ((100vw - 320px)/ 880));
    line-height: 43px;
    color: #FFFFFF;
  }

  .footer__inner {
    padding-bottom: calc(36px + 80 * ((100vw - 320px)/ 880));
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__icons-item {
    padding-top: 23px;
    display: flex;
    gap: 10px;
  }

  .footer__header {
    margin-left: calc(50px + 250 * ((100vw - 320px)/ 880));
  }

  .footer__menu {
    display: flex;
    gap: calc(55px + 70 * ((100vw - 320px)/ 880));
  }
  .footer__menu .-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer__menu__list-link {
    font-weight: 400;
    font-size: calc(12px + 5 * ((100vw - 320px)/ 880));
    line-height: 27px;
    color: #FFFFFF;
  }
}
@media (max-width: 764px) {
  .stop-scroll {
    overflow: hidden;
  }

  .logo {
    position: relative;
    z-index: 70;
  }

  .menu {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    left: 0;
    top: 0;
    z-index: 50;
    background: black;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s;
  }
  .menu ul {
    display: block;
    margin: 0 auto;
  }
  .menu li {
    margin-bottom: 40px;
  }
  .menu .menu__link {
    font-size: 40px;
    font-weight: 600;
    color: white;
  }

  .header-nav--click {
    transform: none;
    opacity: 1;
  }

  .burger {
    display: block;
    position: relative;
    z-index: 52;
  }

  .home {
    padding-top: calc(29px + 15 * ((100vw - 320px)/ 880));
  }

  .home__inner {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .home__block {
    padding-left: 0;
  }
  .home__block_home-title {
    font-size: calc(40px + 30 * ((100vw - 320px)/ 880));
    line-height: calc(48px + 40 * ((100vw - 320px)/ 880));
  }

  .home__social {
    padding-top: calc(30px + 10 * ((100vw - 320px)/ 880));
    padding-bottom: calc(50px + 10 * ((100vw - 320px)/ 880));
  }

  .home__social-items {
    justify-content: center;
  }

  .episodes__inner {
    position: relative;
    padding: 20px;
    display: block;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
  }
  .episodes__inner::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 32px;
  }

  .episodes__image {
    position: relative;
    padding: 20px;
    display: block;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
  }
  .episodes__image::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 32px;
  }

  .episodes__image {
    position: relative;
    padding: 20px;
    display: block;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
  }

  .episodes__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-left: 0;
  }
  .episodes__main-text {
    padding-top: calc(3px + 45 * ((100vw - 320px)/ 880));
    padding-bottom: calc(3px + 15 * ((100vw - 320px)/ 880));
  }
  .episodes__main-number {
    font-size: calc(24px + 40* ((100vw - 320px)/ 880));
    line-height: calc(30px + 40 * ((100vw - 320px)/ 880));
  }
  .episodes__main-subtitle {
    padding-top: 28px;
    padding-bottom: 18px;
    font-size: calc(14px + 8 * ((100vw - 320px)/ 880));
    line-height: calc(25px + 8 * ((100vw - 320px)/ 880));
  }
  .episodes__main-link {
    cursor: pointer;
    padding: 12px 17px;
    border: 0;
    background: #118DA8;
    border-radius: 6px;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    transition: 0.5s;
  }
  .episodes__main-link:hover {
    background: #ffffff;
    color: black;
  }

  .about__inner {
    display: flex;
    flex-direction: column;
  }

  .about__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about__main-subtitle {
    font-size: calc(17px + 1 * ((100vw - 320px)/ 880));
  }
  .about__main-text {
    padding-top: calc(5px + 23 * ((100vw - 320px)/ 880));
    padding-bottom: calc(13px + 20 * ((100vw - 320px)/ 880));
  }
  .about__main-text, .about__main-desc {
    font-size: calc(16px + 6 * ((100vw - 320px)/ 880));
  }
  .about__main-desc {
    padding-bottom: calc(10px + 20 * ((100vw - 320px)/ 880));
  }

  .form {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: calc(19px + 40 * ((100vw - 320px)/ 880)) calc(20px + 40 * ((100vw - 320px)/ 880)) calc(35px + 40 * ((100vw - 320px)/ 880)) calc(20px + 40 * ((100vw - 320px)/ 880));
  }

  .form__fill {
    width: 100%;
  }
  .form__fill input {
    width: 100%;
    min-width: calc(122px + 400 * ((100vw - 320px)/ 880));
    height: calc(42px + 40 * ((100vw - 320px)/ 880));
    font-size: calc(12px + 12 * ((100vw - 320px)/ 880));
    line-height: 32px;
  }
  .form__fill input::-moz-placeholder {
    font-size: calc(12px + 12 * ((100vw - 320px)/ 880));
    line-height: 29px;
  }
  .form__fill input:-ms-input-placeholder {
    font-size: calc(12px + 12 * ((100vw - 320px)/ 880));
    line-height: 29px;
  }
  .form__fill input::-ms-input-placeholder {
    font-size: calc(12px + 12 * ((100vw - 320px)/ 880));
    line-height: 29px;
  }
  .form__fill input::placeholder {
    font-size: calc(12px + 12 * ((100vw - 320px)/ 880));
    line-height: 29px;
  }
  .form__fill-button {
    width: 100%;
  }
  .form__fill-email {
    margin: calc(10px + 10 * ((100vw - 320px)/ 880)) 0;
  }

  .form__desc-text {
    font-size: calc(15px + 3 * ((100vw - 320px)/ 880));
  }
  .form__desc-subtitle {
    font-size: calc(20px + 52 * ((100vw - 320px)/ 880));
    line-height: calc(25px + 54 * ((100vw - 320px)/ 880));
  }

  .form__desc {
    padding-bottom: calc(25px + 5 * ((100vw - 320px)/ 880));
  }

  .reviews__body {
    overflow-x: scroll;
    overflow-y: auto;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
    font-weight: 400;
    overflow: scroll;
  }

  .reviews__card {
    min-width: 380px;
    width: 100%;
    padding: calc(25px + 25 * ((100vw - 320px)/ 880));
    max-width: 423px;
    background: #000000;
    border-radius: 32px;
  }
  .reviews__card-title {
    padding: 21px 0 19px 0;
    font-size: calc(24px + 12 * ((100vw - 320px)/ 880));
    line-height: 43px;
    color: #FFFFFF;
  }

  .footer__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__inner {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__header {
    padding: 20px 0;
    margin-left: 0;
  }

  .footer__social-icons {
    padding-left: 0;
  }
}
::-moz-selection {
  background: #90b9f4;
  color: #fff;
}
::selection {
  background: #90b9f4;
  color: #fff;
}

:root {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-body {
  display: flex;
  min-height: 119px;
  align-items: center;
  justify-content: space-between;
}